.customSlideContentContainer{
    border: 3px solid;
    padding: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    &.white{
        border-color: $white;
        h1, p{
            color: $white;
        }
        p{
            font-size: 16px;
            font-size: 23px;
            line-height: 27px;
        }
        h1{
            font-size: 33px;
        }
    }
}