.ai-c{
    align-items: center;
    display: flex;
}


.as-c{
    align-self: center;
}

.line {
    width: 100%;
    color: $white;
    height: 3px;
    background-color: $white;
}

.camera{
    z-index: 999;
}