@import "lib/flexgrid-sass/assets/flexgrid";
@import "variables";
@import "./_partials/imageContainer";
@import "./_partials/devices";
@import "./_partials/customSlides";
@import "./_partials/helpers";
@import "./_partials/customSlideContent";

body{
    background-size: cover;
    background-position: 50% 27%;
    background-repeat: no-repeat;;
    &.bg-1{
        background-image: url(./../../dist/img/fonecta_bg_1.png);
    }
    height: 100vh;
    overflow: hidden;
    display: flex;
}
